@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@200&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 2%;
}

.header__main__navbars {
  padding: 1%;
}
.header__main__navbars {
  display: flex;
  list-style-type: none;
  outline: none;
  /* border:2px solid red; */
}

ul li a {
  outline: none;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: Nunito;
  color: rgb(183, 59, 187);
}

.header__main__heading h1 {
  font-size: 59px;
  letter-spacing: 3px;
  word-spacing: 4px !important;
  color: rgb(250, 142, 0);
}
.header__main__heading {
  /* border:2px solid red; */
  margin-top: 0% !important;
}
.header__main__navbars > ul {
  /* border:2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
.header__main__navbars {
  /* border:2px solid red; */
  margin-top: 2%;
}

.section__main {
  /* border:2px solid red; */
  margin-top: 2%;
  overflow: hidden;
}
.section__main__img {
  /* border:2px solid red; */
}

.section__main__img > img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  margin: auto;
}

.section__welcome {
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin-top: 4%;
}
.section__welcome__header h1 {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: Montserrat;
  color: orange;
  /* margin-bottom:4%; */
  /* border-bottom:3px solid rgb(192, 31, 31); */
  /* padding-bottom:4%; */
}
.section__welcome__header {
  margin-top: 2%;
}

.section__welcome__tag h1 {
  margin-top: 5%;
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 200;
  color: rgb(80, 161, 142);
}
.section__welcome__content {
  margin-top: 4%;
}
.section__welcome__content h1 {
  /* border:2px solid red; */
  width: 45%;
  margin: auto;
  text-align: left;
  font-family: Nunito;
  letter-spacing: 1.5px;
  font-weight: 404;
  color: rgb(190, 14, 196);
  font-size: 17px;
  word-spacing: 2px;
  line-height: 27px;
}

.section__whatwedo {
  /* border:2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
.section__whatwedo__nonimg {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 90vh;
  width: 500px;
  /* border:3px solid red; */
}
.section__whatwedo__nonimg__header h1 {
  /* border:3px solid red; */
  font-family: Montserrat;
  font-size: 30px;
  letter-spacing: 1.4px;
  font-weight: 600;
  border-bottom: 3px solid rgba(114, 89, 89, 0.507);
  padding-bottom: 2%;
  width: fit-content;
  margin-bottom: 2%;
  color: orange;
}
.section__whatwedo__nonimg__content p {
  text-align: left;
  letter-spacing: 1.5px;
  font-weight: 404;
  font-size: 16px;
  word-spacing: 2px;
  line-height: 27px;
  color: rgb(190, 14, 196);
  width: 500px;
}
.section__whatwedo__nonimg__content {
  margin-top: 3%;
  font-family: Nunito;
}
.margin-top {
  margin-top: 3%;
}

.section__whatwedo__img img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.section__whatwedo__nonimg {
  width: 3000px !important;
  padding: 5%;
}
.section__whatwedo__img {
  padding: 5%;
}

.flexreverse {
  flex-direction: row;
}

.section__whatwedo__img2 img {
  width: 440px;
  height: 500px;
  object-fit: contain;
}

::-webkit-scrollbar {
  display: none;
}

.header__main__heading h1 {
  font-family: Montserrat;
}

.section__work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__work__images__row__col img {
  width: 100%;
}
.section__work__images {
  /* border:3px solid red; */
  display: flex;
  flex-direction: column;
}
.section__work__images__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border:2px solid rgb(15, 197, 143); */
}
.section__work img {
  height: 200px;
  width: 340px;
}
.section__work__images__row {
  margin-top: -4px;
  /* margin-bottom:0px !important; */
  padding: 1%;
}
.section__work__images__row__col {
  padding: 2%;
}

.section__work__header h1 {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: Montserrat;
  margin-bottom: 28%;
  border-bottom: 3px solid rgba(114, 89, 89, 0.507);
  padding-bottom: 4%;
  color: orange;
}











/* ...................VERZEO MAJOR PROJECT ...................  */







/*****************************************************************************/

.content{
  background:  white;
  width: 1300px;
  height:570px;
  display: block;
  float: right;
  margin-right: 120px;
  margin-bottom: 2%;
  box-shadow: -5px 5px 5px 1px rgba(255, 166, 0, 0.637);
  border: 1px solid orange;
  margin: auto;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 60%;
  float: left;
  overflow: hidden;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container  {
  text-align: justify;
  background-color:  white;
  padding: 4px 32px;
  color: #222222;
  width: 100%;
  display: block;

  top: 80%;
  z-index: 1;
position: absolute;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} 

/* Six columns side by side */
.column {
  /* bottom: 50%;
  margin-left: 100%; */
  width: 15%;
  float: right;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  float: right;
}

.active,
.demo:hover {
  opacity: 1;
}

.table {
  padding: 0%;
}
.table tr{
  height: 0%;

}   
.table td {
  width: 50%;
  height: 0%;
}
.table img {
  margin: 0%;
  display: block;
  border: 10px solid rgba(255, 166, 0, 0.562);
  border-radius: 5px;
}
#para{
  background: yellow;
  width: 50%;
  height: 20%;
  bottom: 0%;
}

.secondcontent {
  margin: auto;
  width: 1300px;
  height:200px;
  display: block;
  float: right;
  margin-right: 120px;
  margin-bottom: 2%;
}

* {
  box-sizing: border-box;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row2 {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row2,
.row2 > .column2 {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column2 {
  float: left;
  width: 23%;
  margin-left: 2%;
  box-shadow: -5px 5px 5px rgba(255, 166, 0, 0.363);
  border: 1px solid orange;
}

/* Clear floats after rows */ 
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content2 {
   background-color: rgba(255, 166, 0, 0.356); 
  padding: 10px;
  color:  #222222;
}
.section__design__header h1 {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: Montserrat;
   margin-bottom: 15%; 
  border-bottom: 3px solid rgba(114, 89, 89, 0.507);
  padding-bottom: 2%;
  color: orange;
}

/*****************************************************************************/